/* Estilos generales del body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(img/The_SpongeBob_Movie_Sponge_on_the_Run_004.webp)  ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal de la tarjeta */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.8); /* Fondo blanco con 80% de opacidad */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Luz inicial */
    border: 2px solid #dddddd; /* Borde de la tarjeta */
    animation: blinkingLight 1s infinite; /* Animación infinita */
}

/* Animación de parpadeo */
@keyframes blinkingLight {
    0% {
        box-shadow: 0 0 10px rgb(0, 204, 255);
    }
    50% {
        box-shadow: 0 0 30px rgb(0, 181, 226);
    }
    100% {
        box-shadow: 0 0 10px rgb(0, 122, 153);
    }
}

/* Imagen de perfil */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border: 3px solid rgb(88, 85, 85); /* Borde de la imagen */
    margin-bottom: 10px;
}

/* Título */
.title {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de opacidad */
    color: rgb(0, 0, 0); /* Color del texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    
}

/* Profesión */
.profession {
    font-weight: bold;
    color: rgb(171, 157, 157);
    margin-top: 10px;
}

/* Descripción */
.description {
    font-weight: bold;
    color: black;
    font-size: 16px;
    margin-top: 5px;
}
@keyframes blinkingLightsinanimation {
    
    100% {
        box-shadow: 0 0 10px rgb(0, 122, 153);
    }
}

/* Botón de contacto */
.contact-btn {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de opacidad */
    color: rgb(0, 0, 0); /* Color del texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    animation: blinkingLightsinanimation 0,1 infinite; /* Animación infinita */
}

.contact-btn:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco con 30% de opacidad al pasar el mouse */
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
}
